In [49]:
import pandas as pd
import numpy as np
import requests
from pprint import pprint
import json
from bs4 import BeautifulSoup as bs
import re
import json

In [50]:
UNdata = pd.read_csv('UNdata.csv')
EnvImpact = pd.read_csv('EnvImpact.csv')

In [51]:
UNdata_df = pd.DataFrame(UNdata)
EnvImpact_df = pd.DataFrame(EnvImpact)

## Clean UNdata

In [52]:
UNdata_df.head(3)

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864,35530,54.4,106.3,20270,-2.4,623.2,23.3,...,8.3,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99
1,Albania,SouthernEurope,28748,2930,106.9,101.9,11541,2.6,3984.2,22.4,...,63.3,130,28.2,5.7/2.0,84,36,94.9/95.2,95.5/90.2,2.96,-99
2,Algeria,NorthernAfrica,2381741,41318,17.3,102.0,164779,3.8,4154.1,12.2,...,38.2,135,0.8,145.4/3.7,5900,55,84.3/81.8,89.8/82.2,0.05,-99

In [53]:
UN_df = UNdata_df[['country','Surface area (km2)','Population in thousands (2017)','Population density (per km2, 2017)','Population growth rate (average annual %)','Urban population (% of total population)','GDP: Gross domestic product (million current US$)','GDP growth rate (annual %, const. 2005 prices)','GDP per capita (current US$)','Economy: Agriculture (% of GVA)','Economy: Industry (% of GVA)','Employment: Services (% of employed)','Unemployment (% of labour force)','International trade: Exports (million US$)','International trade: Imports (million US$)','Education: Government expenditure (% of GDP)','Seats held by women in national parliaments %','Threatened species (number)','Forested area (% of land area)','CO2 emission estimates (million tons/tons per capita)','Energy production, primary (Petajoules)']]

In [54]:
UN_col = ['Country','Surface_Area','Population','PopDensity','PopGrowth','PopUrban','GDP','GDPpercap','GDPgrowth','EconAg','EconInd','EconService','Unemployment','Export','Import','Gov_Education','Women_Parliment','Threat_Species','Forest_Area','Emissions_CO2','Energy_Prod']

In [55]:
UN_df.columns = UN_col

In [56]:
UN_df.head(2)

,Country,Surface_Area,Population,PopDensity,PopGrowth,PopUrban,GDP,GDPpercap,GDPgrowth,EconAg,...,EconService,Unemployment,Export,Import,Gov_Education,Women_Parliment,Threat_Species,Forest_Area,Emissions_CO2,Energy_Prod
0,Afghanistan,652864,35530,54.4,3.2,26.7,20270,-2.4,623.2,23.3,...,28.5,8.6,1458,3568,3.3,27.7,2.1,9.8/0.3,63,5
1,Albania,28748,2930,106.9,-0.1,57.4,11541,2.6,3984.2,22.4,...,40.3,15.8,1962,4669,3.5,22.9,28.2,5.7/2.0,84,36

## Clean ENVImpact

In [57]:
EnvImpact_df = EnvImpact_df.drop(['Population (millions)','GDP per Capita'],axis=1)

In [58]:
EnvImpact_df.head(2)

,Country,Region,HDI,Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,Total Ecological Footprint,Cropland,Grazing Land,Forest Land,Fishing Water,Urban Land,Total Biocapacity,Biocapacity Deficit or Reserve,Earths Required,Countries Required,Data Quality
0,Afghanistan,Middle East/Central Asia,0.46,0.30,0.20,0.08,0.18,0.00,0.79,0.24,0.20,0.02,0.00,0.04,0.50,-0.30,0.46,1.60,6
1,Albania,Northern/Eastern Europe,0.73,0.78,0.22,0.25,0.87,0.02,2.21,0.55,0.21,0.29,0.07,0.06,1.18,-1.03,1.27,1.87,6

In [59]:
Env_col = ['Country','Region','HDI','Footprint_Crop','Footprint_Graze','Footprint_Forest','Footprint_Carbon','Footprint_Fish','Footprint_Total','Land_Crop','Land_Grazing','Land_Forest','Water_Fishing','Land_Urban','Biocapacity_Total','BioCap_RD','Earths_Req','Countries_Req','Data_Quality']

In [60]:
EnvImpact_df.columns = Env_col

In [61]:
EnvImpact.head(2)

,Country,Region,Population (millions),HDI,GDP per Capita,Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,...,Cropland,Grazing Land,Forest Land,Fishing Water,Urban Land,Total Biocapacity,Biocapacity Deficit or Reserve,Earths Required,Countries Required,Data Quality
0,Afghanistan,Middle East/Central Asia,29.82,0.46,$614.66,0.30,0.20,0.08,0.18,0.00,...,0.24,0.20,0.02,0.00,0.04,0.50,-0.30,0.46,1.60,6
1,Albania,Northern/Eastern Europe,3.16,0.73,"$4,534.37",0.78,0.22,0.25,0.87,0.02,...,0.55,0.21,0.29,0.07,0.06,1.18,-1.03,1.27,1.87,6

## Combining Data

In [62]:
EnvData = EnvImpact_df.merge(UN_df, how='left',on='Country')

In [63]:
EnvData.head()

,Country,Region,HDI,Footprint_Crop,Footprint_Graze,Footprint_Forest,Footprint_Carbon,Footprint_Fish,Footprint_Total,Land_Crop,...,EconService,Unemployment,Export,Import,Gov_Education,Women_Parliment,Threat_Species,Forest_Area,Emissions_CO2,Energy_Prod
0,Afghanistan,Middle East/Central Asia,0.46,0.30,0.20,0.08,0.18,0.00,0.79,0.24,...,28.5,8.6,1458,3568,3.3,27.7,2.1,9.8/0.3,63.0,5.0
1,Albania,Northern/Eastern Europe,0.73,0.78,0.22,0.25,0.87,0.02,2.21,0.55,...,40.3,15.8,1962,4669,3.5,22.9,28.2,5.7/2.0,84.0,36.0
2,Algeria,Africa,0.73,0.60,0.16,0.17,1.14,0.01,2.12,0.24,...,54.7,11.4,29992,47091,...,31.6,0.8,145.4/3.7,5900.0,55.0
3,Angola,Africa,0.52,0.33,0.15,0.12,0.20,0.09,0.93,0.20,...,58.2,6.6,21011,8790,...,38.2,46.5,34.8/1.4,3902.0,25.0
4,Antigua and Barbuda,Latin America,0.78,NaN,NaN,NaN,NaN,NaN,5.38,NaN,...,...,...,61,491,...,11.1,22.3,0.5/5.8,-99.0,84.0

In [64]:
len(EnvData)

188

In [65]:
EnvData = EnvData.dropna()

In [66]:
EnvData.head()

,Country,Region,HDI,Footprint_Crop,Footprint_Graze,Footprint_Forest,Footprint_Carbon,Footprint_Fish,Footprint_Total,Land_Crop,...,EconService,Unemployment,Export,Import,Gov_Education,Women_Parliment,Threat_Species,Forest_Area,Emissions_CO2,Energy_Prod
0,Afghanistan,Middle East/Central Asia,0.46,0.30,0.20,0.08,0.18,0.00,0.79,0.24,...,28.5,8.6,1458,3568,3.3,27.7,2.1,9.8/0.3,63.0,5.0
1,Albania,Northern/Eastern Europe,0.73,0.78,0.22,0.25,0.87,0.02,2.21,0.55,...,40.3,15.8,1962,4669,3.5,22.9,28.2,5.7/2.0,84.0,36.0
2,Algeria,Africa,0.73,0.60,0.16,0.17,1.14,0.01,2.12,0.24,...,54.7,11.4,29992,47091,...,31.6,0.8,145.4/3.7,5900.0,55.0
3,Angola,Africa,0.52,0.33,0.15,0.12,0.20,0.09,0.93,0.20,...,58.2,6.6,21011,8790,...,38.2,46.5,34.8/1.4,3902.0,25.0
5,Argentina,Latin America,0.83,0.78,0.79,0.29,1.08,0.10,3.14,2.64,...,73.1,6.5,57733,55610,5.3,38.9,10.0,204.0/4.7,3167.0,85.0

## Spliting Data

In [108]:
EnvData_SQL = EnvData.iloc[:,0:19]

In [109]:
EnvData_SQL.insert(15, 'Threat_Species', EnvData['Threat_Species'])

In [110]:
EnvData_SQL.insert(16, 'Emissions_CO2', EnvData['Emissions_CO2'])

In [111]:
EnvData_SQL.head(3)

,Country,Region,HDI,Footprint_Crop,Footprint_Graze,Footprint_Forest,Footprint_Carbon,Footprint_Fish,Footprint_Total,Land_Crop,...,Land_Forest,Water_Fishing,Land_Urban,Biocapacity_Total,Threat_Species,Emissions_CO2,BioCap_RD,Earths_Req,Countries_Req,Data_Quality
0,Afghanistan,Middle East/Central Asia,0.46,0.30,0.20,0.08,0.18,0.00,0.79,0.24,...,0.02,0.00,0.04,0.50,2.1,63.0,-0.30,0.46,1.60,6
1,Albania,Northern/Eastern Europe,0.73,0.78,0.22,0.25,0.87,0.02,2.21,0.55,...,0.29,0.07,0.06,1.18,28.2,84.0,-1.03,1.27,1.87,6
2,Algeria,Africa,0.73,0.60,0.16,0.17,1.14,0.01,2.12,0.24,...,0.03,0.01,0.03,0.59,0.8,5900.0,-1.53,1.22,3.61,5

In [146]:
CountryData_SQL = EnvData.iloc[:,19:40]

In [147]:
CountryData_SQL.insert(0, 'Country', EnvData['Country'])

In [148]:
CountryData_SQL = CountryData_SQL.drop(['Threat_Species','Forest_Area','Emissions_CO2'], axis=1)

In [149]:
list(CountryData_SQL.columns)

['Country',
 'Surface_Area',
 'Population',
 'PopDensity',
 'PopGrowth',
 'PopUrban',
 'GDP',
 'GDPpercap',
 'GDPgrowth',
 'EconAg',
 'EconInd',
 'EconService',
 'Unemployment',
 'Export',
 'Import',
 'Gov_Education',
 'Women_Parliment',
 'Energy_Prod']

In [152]:
CountryData_SQL = CountryData_SQL.reset_index(drop = True)

In [216]:
CountryData_SQL = CountryData_SQL.replace('...', '0')

In [240]:
CountryData_SQL = CountryData_SQL.replace('~0.0', '0')

In [244]:
CountryData_SQL = CountryData_SQL.replace('-~0.0', '0')

In [217]:
CountryData_SQL.head()

,Country,Surface_Area,Population,PopDensity,PopGrowth,PopUrban,GDP,GDPpercap,GDPgrowth,EconAg,EconInd,EconService,Unemployment,Export,Import,Gov_Education,Women_Parliment,Energy_Prod
0,Afghanistan,652864,35530.0,54.4,3.2,26.7,20270.0,-2.4,623.2,23.3,23.3,28.5,8.6,1458,3568,3.3,27.7,5.0
1,Albania,28748,2930.0,106.9,-0.1,57.4,11541.0,2.6,3984.2,22.4,26.0,40.3,15.8,1962,4669,3.5,22.9,36.0
2,Algeria,2381741,41318.0,17.3,2,70.7,164779.0,3.8,4154.1,12.2,37.3,54.7,11.4,29992,47091,0,31.6,55.0
3,Angola,1246700,29784.0,23.9,3.5,44.1,117955.0,3.0,4714.1,6.8,51.2,58.2,6.6,21011,8790,0,38.2,25.0
4,Argentina,2780400,44271.0,16.2,1,91.8,632343.0,2.4,14564.5,6,27.8,73.1,6.5,57733,55610,5.3,38.9,85.0

In [255]:
CountryData_SQL = CountryData_SQL.rename(columns={'GDPgrowth':'GDPGrowth'})

In [115]:
len(CountryData_SQL.columns)

18

In [252]:
States_SQL = CountryData_SQL.iloc[:,0]

In [253]:
States_SQL.head()

0    Afghanistan
1        Albania
2        Algeria
3         Angola
4      Argentina
Name: Country, dtype: object

In [256]:
States_SQL.to_csv('States_SQL.csv', index=False)

## Look at DataTypes

In [223]:
#Convert values in column to numeric

def colNum (df,column):
    for x in range(len(df)):
        df[column][x] = pd.to_numeric(df[column][x])

In [219]:
CountryCol = list(CountryData_SQL.iloc[:,1:19].columns)
indices = [0,3,6,8,10,11,12,13,14]

In [177]:
#function to get subset of a list

def listSub (mylist, indices):
    accessed_mapping = map(CountryCol.__getitem__, indices)
    newlist = list(accessed_mapping)
    return newlist

In [224]:
Country_FixList = listSub(CountryCol, indices)
Country_FixList

['Surface_Area',
 'PopGrowth',
 'GDPpercap',
 'EconAg',
 'EconService',
 'Unemployment',
 'Export',
 'Import',
 'Gov_Education']

In [247]:
for i in Country_FixList:
    colNum(CountryData_SQL, i)

/Users/agetecza/opt/anaconda3/envs/PythonEnv/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [250]:
CountryData_SQL['Women_Parliment'][13]

34.5

In [248]:
CountryData_SQL.dtypes

Country             object
Surface_Area         int64
Population         float64
PopDensity         float64
PopGrowth           object
PopUrban           float64
GDP                float64
GDPpercap          float64
GDPgrowth          float64
EconAg              object
EconInd            float64
EconService         object
Unemployment        object
Export              object
Import              object
Gov_Education       object
Women_Parliment    float64
Energy_Prod        float64
dtype: object

In [257]:
CountryData_SQL.to_csv('CountryData_SQL.csv', index=False)

In [266]:
EnvData_SQL = EnvData_SQL.replace('3B','3')
EnvData_SQL = EnvData_SQL.replace('3L','3')
EnvData_SQL = EnvData_SQL.replace('...','0')
EnvData_SQL = EnvData_SQL.replace('~0.0','0')
EnvData_SQL = EnvData_SQL.replace('-~0.0','0')

In [264]:
EnvData_SQL['Data_Quality'].unique()

array(['6', '5', '3', '4'], dtype=object)

In [267]:
EnvData_SQL.to_csv('EnvData_SQL.csv', index=False)